
.row {
    display: flex;
    justify-content: space-between;
}

.r {
    font-size: 1rem;
}

.b {
    display: flex;
    justify-content: space-between;
}
 .k {
     margin-top: 3rem;
 }
 .e {
     display: flex;
     flex-direction: column;
 }

 .q {
     margin-top: 2rem;
 }

 .u {
     max-width: 1440px;
     margin-left: auto;
     margin-right: auto;
 }